In [1]:
print("Mohammed Azeez")

Mohammed Azeez

In [ ]:
import numpy as np
import pandas as pd
import sklearn

In [ ]:
from sklearn.datasets import load_boston
df=load_boston()

In [ ]:
df.keys() # Returns all the keys of the datasets dictionary

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

In [ ]:
print(df.DESCR)  # Info about the dataset

In [ ]:
print(df.feature_names)  # Info about the dataset

In [ ]:
print(df.filename)   # Info about the dataset

In [ ]:
print(df.target)   # Info about the dataset

In [ ]:
print(df.data)   # Info about the dataset

In [ ]:
boston=pd.DataFrame(df.data,columns=df.feature_names)
boston.head(26)

       CRIM    ZN  INDUS  CHAS    NOX  ...  RAD    TAX  PTRATIO       B  LSTAT
0   0.00632  18.0   2.31   0.0  0.538  ...  1.0  296.0     15.3  396.90   4.98
1   0.02731   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  396.90   9.14
2   0.02729   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  392.83   4.03
3   0.03237   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  394.63   2.94
4   0.06905   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  396.90   5.33
5   0.02985   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  394.12   5.21
6   0.08829  12.5   7.87   0.0  0.524  ...  5.0  311.0     15.2  395.60  12.43
7   0.14455  12.5   7.87   0.0  0.524  ...  5.0  311.0     15.2  396.90  19.15
8   0.21124  12.5   7.87   0.0  0.524  ...  5.0  311.0     15.2  386.63  29.93
9   0.17004  12.5   7.87   0.0  0.524  ...  5.0  311.0     15.2  386.71  17.10
10  0.22489  12.5   7.87   0.0  0.524  ...  5.0  311.0     15.2  392.52  20.45
11  0.11747  12.5   7.87   0.0  0.524  ...  5.0  311.0     15.2  396.90  13.27
12  0.09378  12.5   7.87   0.0  0.524  ...  5.0  311.0     15.2  390.50  15.71
13  0.62976   0.0   8.14   0.0  0.538  ...  4.0  307.0     21.0  396.90   8.26
14  0.63796   0.0   8.14   0.0  0.538  ...  4.0  307.0     21.0  380.02  10.26
15  0.62739   0.0   8.14   0.0  0.538  ...  4.0  307.0     21.0  395.62   8.47
16  1.05393   0.0   8.14   0.0  0.538  ...  4.0  307.0     21.0  386.85   6.58
17  0.78420   0.0   8.14   0.0  0.538  ...  4.0  307.0     21.0  386.75  14.67
18  0.80271   0.0   8.14   0.0  0.538  ...  4.0  307.0     21.0  288.99  11.69
19  0.72580   0.0   8.14   0.0  0.538  ...  4.0  307.0     21.0  390.95  11.28
20  1.25179   0.0   8.14   0.0  0.538  ...  4.0  307.0     21.0  376.57  21.02
21  0.85204   0.0   8.14   0.0  0.538  ...  4.0  307.0     21.0  392.53  13.83
22  1.23247   0.0   8.14   0.0  0.538  ...  4.0  307.0     21.0  396.90  18.72
23  0.98843   0.0   8.14   0.0  0.538  ...  4.0  307.0     21.0  394.54  19.88
24  0.75026   0.0   8.14   0.0  0.538  ...  4.0  307.0     21.0  394.33  16.30
25  0.84054   0.0   8.14   0.0  0.538  ...  4.0  307.0     21.0  303.42  16.51

[26 rows x 13 columns]

In [ ]:
boston['MEDV']= df.target
boston.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...  PTRATIO       B  LSTAT  MEDV   BOT
0  0.00632  18.0   2.31   0.0  0.538  ...     15.3  396.90   4.98  24.0  24.0
1  0.02731   0.0   7.07   0.0  0.469  ...     17.8  396.90   9.14  21.6  21.6
2  0.02729   0.0   7.07   0.0  0.469  ...     17.8  392.83   4.03  34.7  34.7
3  0.03237   0.0   2.18   0.0  0.458  ...     18.7  394.63   2.94  33.4  33.4
4  0.06905   0.0   2.18   0.0  0.458  ...     18.7  396.90   5.33  36.2  36.2

[5 rows x 15 columns]

In [ ]:
boston.isnull()

      CRIM     ZN  INDUS   CHAS    NOX  ...  PTRATIO      B  LSTAT   MEDV    BOT
0    False  False  False  False  False  ...    False  False  False  False  False
1    False  False  False  False  False  ...    False  False  False  False  False
2    False  False  False  False  False  ...    False  False  False  False  False
3    False  False  False  False  False  ...    False  False  False  False  False
4    False  False  False  False  False  ...    False  False  False  False  False
..     ...    ...    ...    ...    ...  ...      ...    ...    ...    ...    ...
501  False  False  False  False  False  ...    False  False  False  False  False
502  False  False  False  False  False  ...    False  False  False  False  False
503  False  False  False  False  False  ...    False  False  False  False  False
504  False  False  False  False  False  ...    False  False  False  False  False
505  False  False  False  False  False  ...    False  False  False  False  False

[506 rows x 15 columns]

In [ ]:
boston.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
MEDV       0
BOT        0
dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split
X=boston.drop('MEDV',axis=1)
Y=boston['MEDV']
X_train, X_test, Y_train, Y_test=train_test_split(X, Y, test_size=0.15, random_state=5)
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(430, 14)
(76, 14)
(430,)
(76,)

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [ ]:
lin_model=LinearRegression()
lin_model.fit(X_train,Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
y_train_predict = lin_model.predict(X_train)
rmse = (np.sqrt(mean_squared_error(Y_train, y_train_predict)))

print("The model performance for training set") 
print( 'RMSE is {}'.format(rmse)) 
print("\n")

# on testing set
y_test_predict=lin_model.predict(X_test) 
rmse = (np.sqrt(mean_squared_error(Y_test, y_test_predict)))

print("The model performance for testing set")
print('RMSE is {}'.format(rmse))

The model performance for training set
RMSE is 2.3709191677876552e-14


The model performance for testing set
RMSE is 2.3355439547626242e-14